@media (min-width: 1200px) {
  h1 {
    max-width: 60%;
  }
  p {
    max-width: 78%;
  }
}
@media (max-width: 1200px) {
  h1 {
    max-width: 100%;
  }
  p {
    max-width: 90%;
  }
}

.text-line-through {
  text-decoration: line-through;
}

.sale-badge {
  position: absolute;
  top: 0;
  right: 0;
}

.newsletter-container {
  background-color: black;
  padding: 7rem;
  text-align: center;
}

.newsletter-input {
  color: white;
  border: 1px solid white;
  background-color: black;
  padding: 0.6rem;
  font-size: 1.2rem;
}
.newsletter-input::placeholder {
  color: white;
}
